// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@mixin margin-x {
    @for $i from 0 through 50 {
        @if $i % 5 == 0 {
            .margin-top-#{$i} {
                margin-top: #{$i}px !important;
            }
            .margin-right-#{$i} {
                margin-right: #{$i}px !important;
            }
            .margin-bottom-#{$i} {
                margin-bottom: #{$i}px !important;
            }
            .margin-left-#{$i} {
                margin-left: #{$i}px !important;
            }
        }
    }
}

@include margin-x;

ul {
    &.alert {
        padding-left: 40px !important;
    }
}

form.remove-form {
    display: inline-block;

    button {
        margin: 0 !important;
    }
}

.input-group-btn {
    .fileinput-upload,
    .fileinput-remove {
        display: none !important;
    }
}

.panel-body {
    .row {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.btn-orcamentos, .btn-ordens {
    margin-bottom: 20px;
    margin-top: -40px;
}

th {
    &.center {
        text-align: center;
    }
}

div.table {
    width: 100%;
    display: block;
    max-width: 100% !important;
    margin-top: 20px;

    .thead {
        width: 100%;
        display: block;
        border-bottom: 2px solid #ddd;
        float: left;

        .tr {
            margin: 5px 0;

            .th {
                display: inline-block;
                font-weight: bold;
                text-transform: uppercase;

                &.center {
                    text-align:center;
                }

                &.right{
                    text-align:right;
                }
            }
        }
    }

    .tbody {
        width: 100%;
        display: block;
        float: left;

        .dd-placeholder {
            padding: 5px;
            float: left;
            width: 100%;
        }
    }

    .tr {
        display: block;
        width: 100%;
        float: left;

        &:hover {
            .td {
                background: #f8f8f8;
            }
        }

        .td {
            display: inline-block;
            padding: 10px 15px;
            border: 0;
            height: auto;

            &.center {
                text-align:center;
            }

            &.right{
                text-align:right;
            }
        }
    }
}

input, textarea, select {
    &.placa {
        text-transform: uppercase;
    }

    &.error {
        border-color: #E55957 !important;
    }
}

.total {
    padding: 0;
    padding: 20px 0;
    font-size: 20px;
    border-top: 1px solid #ddd;
    border-bottom: 2px solid #ddd;

    &#totalOrcamento {
        border-top: 0;
        margin-bottom: 20px;
    }

    .label {
        color: #000;
        font-weight: bold;
        padding:0;
    }
}

table{
    tr {
        &.detalhe {
            display: none;

            > td {
                background: #f2f2f2;
                color: #666;
                padding: 20px;

                table {
                    border: 1px solid #ddd;

                    td, th {
                        padding: 5px;
                        border-right: 1px solid #ddd;
                        border-bottom: 1px solid #ddd;
                    }

                    &.total {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

.icon-logo {
    a {
        font-size: 14px;
    }
}

.lancamento {
    color: #e55957;

    &.lancado {
        color: #5cc691;
    }
}